/* genel ayarlar */
body, .bg-light {
    background-color: #f8f9fa !important;
}

.container {
    max-width: 1200px;
}

/* kategoriler */
.category-list-group {
    border-radius: 12px;
    overflow: hidden;
    border: none;
    background: #fff;
}

.category-item {
    border: none;
    border-bottom: 1px solid #eee;
    padding: 15px 20px;
    color: #444;
    font-weight: 500;
    transition: all 0.3s;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item:hover, .category-item.active {
    background-color: #59ab6e;
    color: #fff !important;
    padding-left: 25px;
    text-decoration: none;
}

.category-item i {
    font-size: 0.8rem;
}

/* product card */
.product-wap {
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-wap:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.card-img-wrap {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.product-wap:hover .card-img-wrap img {
    transform: scale(1.05);
}

.product-overlay {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.card-img-wrap:hover .product-overlay {
    opacity: 1;
    visibility: visible;
}

.card-body {
    padding: 1.5rem;
    background-color: #fff;
    text-align: center;
}

.product-title {
    font-size: 1.1rem;
    color: #212529 !important;
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-tag {
    font-size: 1.25rem;
    font-weight: 700;
    color: #198754;
}


/* shop-single.php resim ayarları*/
.product-image-container {
    height: 500px !important;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    display: block;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    display: block;
}

/* index.php resim ayarları*/

.card-img-custom {
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* kutuyu dolduracak */
    object-position: center;
    border-bottom: 1px solid #eee;
}

.card.h-100 {
    height: 100% !important;
}